[run]
include =
   n_body_simulations/plotting/*
   n_body_simulations/qt/*

omit =
   n_body_simulations/plotting/interactive_plot.py
   n_body_simulations/qt/ui/*
   n_body_simulations/qt/view.py

[report]
fail_under=74
show_missing=true
