name: Cppcheck

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Checkout Cppcheck
      uses: actions/checkout@v2
      with:
        repository: danmar/cppcheck
        path: Cppcheck
    - name: Compile and Install Cppcheck
      run: |
        cd Cppcheck
        mkdir build
        cd build
        cmake .. -DFILESDIR="C:/Program Files (x86)/Cppcheck/bin/"
        cmake --build . --config Release
        cmake --install .      
    - name: Run Cppcheck
      run: |
        "C:/Program Files (x86)/Cppcheck/bin/cppcheck.exe" cpp/simulator/src
        "C:/Program Files (x86)/Cppcheck/bin/cppcheck.exe" python/exports
      shell: cmd
