name: Cppcheck

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - env:
      CPPCHECK_PATH: "C:/Program Files (x86)/Cppcheck/bin/"
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Checkout Cppcheck
      uses: actions/checkout@v2
      with:
        repository: danmar/cppcheck
        path: Cppcheck
    - name: Compile Cppcheck
      run: |
        cd Cppcheck
        mkdir build
        cd build
        cmake .. -DFILESDIR=$CPPCHECK_PATH
        cmake --build . --config Release
        cmake --install .      
    - name: Run Cppcheck
      run: |
        $CPPCHECK_PATH"cppcheck.exe" cpp/simulator/src
      shell: cmd
