name: Cppcheck

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Checkout Cppcheck
      uses: actions/checkout@v2
      with:
        repository: danmar/cppcheck
        path: Cppcheck
    - name: Compile and Install Cppcheck
      run: |
        cd Cppcheck
        mkdir build
        cd build
        cmake .. -DFILESDIR="C:/Program Files (x86)/Cppcheck/bin/"
        cmake --build . --config Release
        cmake --install .
    - name: Run Cppcheck
      run: |
        "C:/Program Files (x86)/Cppcheck/bin/cppcheck.exe" cpp/simulator/src --error-exitcode=-1
        "C:/Program Files (x86)/Cppcheck/bin/cppcheck.exe" n_body_simulations/exports --error-exitcode=-1 --suppress=syntaxError:n_body_simulations/exports/Vector2D.cpp:19
      shell: cmd
