name: Flake8

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Miniconda
      uses: s-weigand/setup-conda@v1
    - name: Install dependencies
      run: |
        conda install -c anaconda flake8
    - name: Flake8
      run: |
        flake8 n_body_simulations/ --extend-exclude=*_rc.py,*_ui.py --count --max-complexity=10 --max-line-length=127 --statistics
        flake8 tests/ --count --max-complexity=10 --max-line-length=127 --statistics
