name: Ubuntu

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Miniconda
      uses: s-weigand/setup-conda@v1
      with:
         python-version: 3.8
    - name: Install Dependencies
      run: |
        conda install -c anaconda pytest-mock pyqt qtawesome
        conda install -c conda-forge matplotlib pybind11 pyside2 pytest pytest-qt=3.3.0
    - name: Build Project
      run: |
        mkdir build
        cd build
        cmake .. -DPYTHON_LIBRARY_DIR=/usr/share/miniconda/envs/__setup_conda/lib/python3.8/site-packages/ -DPYTHON_EXECUTABLE=/usr/share/miniconda/envs/__setup_conda/bin/python
        cmake --build . --config Release
    - name: Install into Python Site-Packages
      run: |
        cd build
        cmake --install .
        conda env list
    - name: Cpp Unit Tests
      run: |
        cd build/tests/unit_tests/cpp
        ./NBodySimulationsUnitTests
    - name: Cpp System Tests
      run: |
        cd build/tests/system_tests/cpp
        ./NBodySimulationsSystemTests
    - name: Python Unit Tests
      run: |
        # Prevent 'DISPLAY is undefined' and 'Fatal Python error' errors related to instantiating xcb plugin.
        export QT_QPA_PLATFORM=offscreen
        pytest tests/unit_tests/python/
    - name: Python System Tests
      run: |
        # Prevent 'DISPLAY is undefined' and 'Fatal Python error' errors related to instantiating xcb plugin.
        export QT_QPA_PLATFORM=offscreen
        pytest tests/system_tests/python/
