name: Ubuntu

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2.2.0
      with:
        miniforge-version: latest
        miniforge-variant: Mambaforge
        activate-environment: n-body-env
        environment-file: conda/developer.yml
        python-version: 3.8
        auto-activate-base: false
    - name: Build Project
      run: |
        conda install conda-build
        cd conda && conda build .
    - name: Install Project
      run: |
        conda install --use-local n-body-simulations
    - name: Cpp Unit Tests
      env:
        TESTPATH: ${{ github.workspace }}/build/temp.linux-x86_64-cpython-38/tests/unit_tests/cpp
      run: |
        $TESTPATH/NBodySimulationsUnitTests
    - name: Cpp System Tests
      env:
        TESTPATH: ${{ github.workspace }}/build/temp.linux-x86_64-cpython-38/tests/system_tests/cpp
      run: |
        $TESTPATH/NBodySimulationsSystemTests
    - name: Python Unit Tests
      env:
        PYTHONPATH: ${{ github.workspace }}/build/temp.linux-x86_64-cpython-38/cpp/simulator/
        QT_QPA_PLATFORM: offscreen  # Prevent 'DISPLAY is undefined' and 'Fatal Python error' errors related to instantiating xcb plugin.
      run: |
        xvfb-run --server-args="-core -noreset -screen 0 640x480x24" --server-num=101 pytest tests/unit_tests/python/
    - name: Python System Tests
      env:
        PYTHONPATH: ${{ github.workspace }}/build/temp.linux-x86_64-cpython-38/cpp/simulator/
        QT_QPA_PLATFORM: offscreen  # Prevent 'DISPLAY is undefined' and 'Fatal Python error' errors related to instantiating xcb plugin.
      run: |
        xvfb-run --server-args="-core -noreset -screen 0 640x480x24" --server-num=101 pytest tests/system_tests/python/
