name: Ubuntu

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2.2.0
      with:
        miniforge-version: latest
        miniforge-variant: Mambaforge
        activate-environment: n-body-env
        environment-file: developer-env.yml
        python-version: 3.8
        auto-activate-base: false
    - name: Build & Install Project
      run: |
        python setup.py install
    - name: Cpp Unit Tests
      run: |
        cd build/temp.linux-x86_64-3.8/tests/unit_tests/cpp
        ./NBodySimulationsUnitTests
    - name: Cpp System Tests
      run: |
        cd build/temp.linux-x86_64-3.8/tests/system_tests/cpp
        ./NBodySimulationsSystemTests
    - name: Python Unit Tests
      run: |
        # Prevent 'DISPLAY is undefined' and 'Fatal Python error' errors related to instantiating xcb plugin.
        export QT_QPA_PLATFORM=offscreen
        xvfb-run --server-args="-core -noreset -screen 0 640x480x24" --server-num=101 pytest tests/unit_tests/python/
    - name: Python System Tests
      run: |
        # Prevent 'DISPLAY is undefined' and 'Fatal Python error' errors related to instantiating xcb plugin.
        export QT_QPA_PLATFORM=offscreen
        xvfb-run --server-args="-core -noreset -screen 0 640x480x24" --server-num=101 pytest tests/system_tests/python/
