name: Testing - Ubuntu

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2.2.0
      with:
        miniforge-version: latest
        miniforge-variant: Mambaforge
        activate-environment: test-env
        environment-file: conda/testing.yml
        python-version: 3.8
        auto-activate-base: false
    - name: Build & Install Project
      env:
        ENV_DIR: /usr/share/miniconda3/envs/test-env/
        PYBIND11_DIR: /usr/share/miniconda3/envs/test-env/share/cmake/pybind11
        PYTHON: /usr/share/miniconda3/envs/test-env/bin/python
        SITE_PACKAGE_DIR: /usr/share/miniconda3/envs/test-env/lib/python3.8/site-packages
      run: |
        mkdir build && cd build

        cmake -DPYTHON_EXECUTABLE=$PYTHON -Dpybind11_DIR=$PYBIND11_DIR -DCMAKE_INSTALL_PREFIX=$ENV_DIR -DCMAKE_INSTALL_LIBDIR=$SITE_PACKAGE_DIR -G Ninja ..

        cmake --build . --config Release
        cmake --build . --config Release --target install

        cd ../
        $PYTHON -m pip install --ignore-installed .
    - name: Cpp Unit Tests
      env:
        TESTPATH: ${{ github.workspace }}/build/tests/unit_tests/cpp
      run: |
        $TESTPATH/NBodySimulationsUnitTests
    - name: Cpp System Tests
      env:
        TESTPATH: ${{ github.workspace }}/build/tests/system_tests/cpp
      run: |
        $TESTPATH/NBodySimulationsSystemTests
    - name: Python Unit Tests
      env:
        QT_QPA_PLATFORM: offscreen  # Prevent 'DISPLAY is undefined' and 'Fatal Python error' errors related to instantiating xcb plugin.
      run: |
        xvfb-run --server-args="-core -noreset -screen 0 640x480x24" --server-num=101 pytest tests/unit_tests/python/
    - name: Python System Tests
      env:
        QT_QPA_PLATFORM: offscreen  # Prevent 'DISPLAY is undefined' and 'Fatal Python error' errors related to instantiating xcb plugin.
      run: |
        xvfb-run --server-args="-core -noreset -screen 0 640x480x24" --server-num=101 pytest tests/system_tests/python/
