name: Ubuntu

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Miniconda
      uses: s-weigand/setup-conda@v1
    - name: Install Dependencies
      run: |
        conda install -c anaconda pytest-mock pyqt qtawesome
        conda install -c conda-forge matplotlib pybind11 pyside2 pytest pytest-qt
    - name: Build Project
      run: |
        mkdir build
        cd build
        cmake .. -DPYTHON_LIBRARY_DIR=/usr/share/miniconda/lib/python3.8/site-packages/ -DPYTHON_EXECUTABLE=/usr/share/miniconda/bin/python
        cmake --build . --config Release
    - name: Install into Python Site-Packages
      run: |
        cd build
        cmake --install .
    - name: Cpp Unit Tests
      run: |
        cd build/tests/unit_tests/cpp
        ./NBodySimulationsUnitTests
    - name: Cpp System Tests
      run: |
        cd build/tests/system_tests/cpp
        ./NBodySimulationsSystemTests
    - name: Python Unit Tests
      run: |
        export PYTEST_QT_API=pyqt5
        export QT_QPA_PLATFORM=offscreen
        pytest tests/unit_tests/python/
    - name: Python System Tests
      run: |
        export QT_QPA_PLATFORM=offscreen
        pytest tests/system_tests/python/
