name: Windows

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install Dependencies
      run: |
        pip install build
    - name: Build Project
      run: |
        python -m build --wheel
    - name: Install Project
      run: |
        pip install dist/n_body_simulations-1.0.1-cp38-cp38-win_amd64.whl
        pip install n-body-simulations[test]
    - name: Cpp Unit Tests
      run: |
        cd build/temp.win-amd64-3.8/Release/tests/unit_tests/cpp/Release
        ./NBodySimulationsUnitTests.exe
    - name: Cpp System Tests
      run: |
        cd build/temp.win-amd64-3.8/Release/tests/system_tests/cpp/Release
        ./NBodySimulationsSystemTests.exe
    - name: Python Unit Tests
      run: |
        pytest tests/unit_tests/python/
    - name: Python System Tests
      run: |
        pytest tests/system_tests/python/
