name: Windows

on:
  pull_request:
    branches: [ master ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Miniconda
      uses: s-weigand/setup-conda@v1
      with:
         python-version: 3.8
    - name: Install Dependencies
      run: |
        conda install -c anaconda pytest-mock pyqt qtawesome
        conda install -c conda-forge matplotlib pybind11 pyside2 pytest pytest-cov pytest-qt=3.3.0
    - name: Build Project
      run: |
        mkdir build
        cd build
        cmake .. -DPYTHON_LIBRARY_DIR=C:/Miniconda/lib/site-packages/ -DPYTHON_EXECUTABLE=C:/Miniconda/python.exe
        cmake --build . --config Release
    - name: Install into Python Site-Packages
      run: |
        cd build
        cmake --install .
    - name: Cpp Unit Tests
      run: |
        cd build/tests/unit_tests/cpp/Release
        ./NBodySimulationsUnitTests.exe
    - name: Cpp System Tests
      run: |
        cd build/tests/system_tests/cpp/Release
        ./NBodySimulationsSystemTests.exe
    - name: Python Unit Tests
      run: |
        pytest tests/unit_tests/python/ --cov=tests/unit_tests/python/ --cov-report term-missing
    - name: Submit Coverage
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        coveralls --service=github
    - name: Python System Tests
      run: |
        pytest tests/system_tests/python/
