name: Windows

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install Requirements
      run: |
        pip install -r requirements.txt
    - name: Build & Install Project
      run: |
        python setup.py install
    - name: Install Dependencies for Testing
      run: |
        pip install n_body_simulations[test]
    - name: Cpp Unit Tests
      run: |
        cd build/temp.win-amd64-3.8/Release/tests/unit_tests/cpp/Release
        ./NBodySimulationsUnitTests.exe
    - name: Cpp System Tests
      run: |
        cd build/temp.win-amd64-3.8/Release/tests/system_tests/cpp/Release
        ./NBodySimulationsSystemTests.exe
    - name: Python Unit Tests
      run: |
        coverage run -m pytest tests/unit_tests/python/
    - name: Report Unit Test Coverage
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        coveralls --service=github
        coverage report
    - name: Python System Tests
      run: |
        pytest tests/system_tests/python/
