name: Windows

on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 12 * * FRI'

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2.2.0
      with:
        miniforge-version: latest
        miniforge-variant: Mambaforge
        activate-environment: n-body-env
        environment-file: developer-env.yml
        python-version: 3.8
        auto-activate-base: false
    - name: Build & Install Project
      run: |
        python setup.py install
    - name: Cpp Unit Tests
      run: |
        cd build/temp.win-amd64-cpython-38/Release/tests/unit_tests/cpp/Release
        ./NBodySimulationsUnitTests.exe
    - name: Cpp System Tests
      run: |
        cd build/temp.win-amd64-cpython-38/Release/tests/system_tests/cpp/Release
        ./NBodySimulationsSystemTests.exe
    - name: Python Unit Tests
      run: |
        coverage run -m pytest tests/unit_tests/python/
    - name: Report Unit Test Coverage
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        coveralls --service=github
        coverage report
    - name: Python System Tests
      run: |
        pytest tests/system_tests/python/
